<%= render 'shared/errors', obj: @church%> 
<div class="row">
  <div class="col-xs-10">
    <%= form_for(@church, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-xs-2 control-label">
          <%= f.label :name %>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :name, class: "form-control", placeholder: :name, autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2 control-label">
          <%= f.label :adress %>  
        </div>  
        <div class="col-xs-8">
          <%= f.text_field :adress, class: "form-control", placeholder: :adress, autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2 control-label">
          <%= f.label :email %>  
        </div>
        <div class="col-xs-8">
          <%= f.text_field :email, class: "form-control", placeholder: :email, autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2 control-label">
          <%= f.label :phone %>  
        </div>
        <div class="col-xs-8">
          <%= f.text_field :phone, class: "form-control", placeholder: :phone, autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= f.submit class: "btn btn-primary btn-lg"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
