.row
  .x_panel
    .x_content
      .row
        .table-responsive
          %table.table.table-striped.table-bordered.bulk_action
            %thead
              %tr.headings
                %th.column-title= Member.human_attribute_name("name")
                %th.column-title= Member.human_attribute_name("address")
                %th.column-title= Member.human_attribute_name("email")
                %th.column-title= Member.human_attribute_name("phone")
                %th.column-title.no-link.last
                  %span.nobr Action
                %th.bulk-actions{:colspan => "7"}
                  %a.antoo{:style => "color:#fff; font-weight:500;"}
                    Bulk Actions (
                    %span.action-cnt             )
                    %i.fa.fa-chevron-down
            %tbody
              - @churches.each do |church|
                %tr.odd.pointer
                  %td= church.name
                  %td= church.address
                  %td= church.email
                  %td= church.phone
                  %td.last
                    = link_to church, data: { toggle: 'tooltip', placement: 'top', title: t('link.show') } do
                      .glyphicon.glyphicon-home
                    = link_to edit_church_path(church), data: { toggle: 'tooltip', placement: 'top', title: t('link.edit') } do
                      .glyphicon.glyphicon-pencil
                    = link_to church, method: :delete, data: { confirm: t('confirm.message.destroy'), toggle: 'tooltip', placement: 'top', title: t('link.destroy')} do
                      .glyphicon.glyphicon-trash
