<div class="panel panel-info">
<div class="panel-heading" > 
  <h1 class="panel-title">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 
    <%= t('.title')%>
  </h1>
</div>
<div class="panel-body" >
  <table class ="table table-hover table-striped">
  <thead>
    <tr>
      <th><%=Member.human_attribute_name("name")%></th>
      <th><%=Member.human_attribute_name("adress")%></th>
      <th><%=Member.human_attribute_name("email")%></th>
      <th><%=Member.human_attribute_name("phone")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @churches.each do |church| %>
      <tr>
        <td><%= church.name %></td>
        <td><%= church.adress %></td>
        <td><%= church.email %></td>
        <td><%= church.phone %></td>
        <td><%= link_to t('link.show'), church %></td>
        <td><%= link_to t('link.edit'), edit_church_path(church) %></td>
        <td><%= link_to t('link.destroy'), church, method: :delete, data: { confirm: t('confirm.message.destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


