<p>
  <strong><%= t('.name')%>:</strong>
  <%= @church.name %>
</p>

<p>
  <strong><%= t('.address')%>:</strong>
  <%= @church.adress %>
</p>

<p>
  <strong><%= t('.email')%>:</strong>
  <%= @church.email %>
</p>

<p>
  <strong><%= t('.phone')%>:</strong>
  <%= @church.phone %>
</p>

<%= link_to t('link.edit'), edit_church_path(@church) %> |
<%= link_to t('link.back'), churches_path %>
