%p#notice= notice

%p
  %b Name:
  = @family.name
%p
  %b Married at:
  = @family.married_at
%p
  %b Address:
  = @family.address
%p
  %b Phone:
  = @family.phone
%p
  %b City:
  = @family.city
%p
  %b Country:
  = @family.country
%p
  %b Church:
  = @family.church

= link_to 'Edit', edit_family_path(@family)
\|
= link_to 'Back', families_path
