= render 'shared/errors', obj: @ministry
.row
  .col-xs-10
    = form_for(@ministry, :html => {class: "form-horizontal", role: "form"}) do |f|
      .form-group
        .col-xs-2.control-label
          = f.label :name
        .col-xs-8
          = f.text_field :name, class: "form-control", placeholder: :name, autofocus: true
      .form-group
        .col-xs-2.control-label
          = f.label :description
        .col-xs-8
          = f.text_area :description, class: "form-control", placeholder: :description, autofocus: true, rows: '5'
      .form-group
        .col-xs-2.control-label
          = f.label :responsibility
        .col-xs-8
          = f.collection_check_boxes :responsibility_ids, Responsibility.all, :id, :name do |b|
            .checkbox-inline
              = b.check_box
              = b.label
      .form-group
        .col-xs-offset-2.col-xs-10
          = f.submit class: "btn btn-primary btn-lg"
