%tr{:id => "#{ministry.id}"}
  %td= ministry.name
  %td= ministry.members.size
  %td
    - ministry.responsibilities.each do |responsibility|
      =responsibility.name
  %td
    = link_to t('.new_responsibility'), new_responsibility_path, remote: true, class: "btn btn-default btn-xs"
  %td
    = link_to t('.edit_ministry'), edit_ministry_path(ministry), remote: true
