-if(@responsibilities.present?)
  .row
    - @responsibilities.each do |responsibility|
      .col-md-12.col-sm-12.col-xs-12
        .box-body.no-padding
          .x_panel
            .x_title
              %h2
                = link_to responsibility.name, edit_responsibility_path(responsibility), data: { toggle: 'tooltip', placement: 'top', title: t('link.show')}
                = link_to responsibility, method: :delete, data: { confirm: t('confirm.message.destroy'), toggle: 'tooltip', placement: 'top', title: t('link.destroy')} do
                  .glyphicon.glyphicon-trash
                %small
                  = t('common.member', count: responsibility.members_by_church(current_user.church).size)
              .clearfix
            .x_content{:style => "display: block;"}
              .row
                .clearfix
                - responsibility.members_by_church(current_user.church).each do |member|
                  .col-md-2.col-sm-2.col-xs-4
                    .col-sm-12
                      .text-center
                        = link_to gravatar_image_tag(member.email, filetype: :png, rating: 'pg', class:'img-circle profile_img', secure: false, gravatar: { default: :mm } ), edit_member_path(member)
                    .col-sm-12.text-center
                      .emphasis
                        = link_to edit_member_path(member) do
                          = member.first_name
                          %i.glyphicon.glyphicon-pencil
