%h1
  Estimado administrador del ministerio
  = @ministry.name
  !

%p
  - if(@present_attendances.present?)
    Esta es la lista de miembros que asistieron el 
    = @attendance_date.to_date
    %table
      %thead
        %tr
          %th= Member.human_attribute_name("first_name")
          %th= Member.human_attribute_name("last_name")
          %th= Member.human_attribute_name("address")
          %th= Member.human_attribute_name("email")
          %th= Member.human_attribute_name("phone")
      %tbody
      - @present_attendances.each do |attendance|
        %tr
          %td= attendance.member.first_name
          %td= attendance.member.last_name
          %td= attendance.member.address
          %td= attendance.member.email
          %td= attendance.member.phone
  - else
    Lamentamos informar que para esta fecha no hubo ningún miembro que asistío a 
    = @ministry.name
%p
  - if(@absent_attendances.present?)
    Estos son los miembros que no asistieron. Por favor, llámalos! 
    %table
      %thead
        %tr
          %th= Member.human_attribute_name("first_name")
          %th= Member.human_attribute_name("last_name")
          %th= Member.human_attribute_name("address")
          %th= Member.human_attribute_name("email")
          %th= Member.human_attribute_name("phone")
      %tbody
      - @absent_attendances.each do |attendance|
        %tr
          %td= attendance.member.first_name
          %td= attendance.member.last_name
          %td= attendance.member.address
          %td= attendance.member.email
          %td= attendance.member.phone
  - else
    En este día hubo asistencia completa. Felicidades, buen trabajo!

%p Saluda Atte. 
%p= @user.name
