-if(@ministries.present?)
  .box-body.no-padding
  .x_panel
    .x_title
      %h2
        .fa.fa-check-square-o.fa-fw
        = t('.title_panel')
      .clearfix
    .x_content{:style => "display: block;"}
      .row.text-center
        = form_tag(attendances_path, method: :get, class: "form-inline", role: "form", id: 'attendance-index-form' ) do
          .form-group.col-lg-4.col-lg-offset-3.col-md-4.col-md-offset-3.col-xs-6
            %label{for: 'ministry_id'} Ministerios
            = select_tag :ministry_id, options_from_collection_for_select(@ministries, "id", "name", @current_ministry.id), class: "form-control"
          .form-group.col-lg-3.col-md-3.col-xs-6
            %label{for: 'attendance_date'} Fecha
            .input-group.date
              = text_field_tag :attendance_date, @attendance_date, class: "form-control"
      = form_tag(attendances_path, method: :post, class: "form-inline", role: "form", id: 'attendance-new-form' ) do
        = hidden_field_tag "ministry_id", @current_ministry.id
        = hidden_field_tag "attendance_date", @attendance_date
        .row
          .col-xs-12
            - @charges.each do |charge|
              - if charge.members.any?
                .form-group.col-lg-3.col-md-4.col-sm-4.col-xs-6
                  .box-body.no-padding
                  .x_panel
                    .x_title
                      %h5= charge.responsibility.name
                      .clearfix
                    .x_content
                      .form-group
                        - charge.members.each do |member|
                          .col-xs-12
                            - now = Time.now.to_f
                            = hidden_field_tag "attendance[][member_id]", member.id
                            .checkbox
                              %label
                                = check_box_tag "attendance[][present]", nil, @attendances.exists?(member_id: member.id, present: true)
                                %span{title: member.full_name}= member.semi_full_name
        .row.text-center
          .form-group
            .col-xs-12
              = check_box_tag "send_mail"
              Enviar correo a los administradores del ministerio
            .col-xs-12
              %input.btn.btn-primary{ type: :submit}