%p#notice= notice

%p
  %b Member:
  = @attendance.member
%p
  %b Ministry:
  = @attendance.ministry
%p
  %b Attendance date:
  = @attendance.attendance_date
%p
  %b Present:
  = @attendance.present

= link_to 'Edit', edit_attendance_path(@attendance)
\|
= link_to 'Back', attendances_path
