- if user_signed_in?
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        %li.sidebar-search
          = form_tag(members_path, method: "get", id: "search-form") do
            .input-group.custom-search-form
              = text_field_tag :name, params[:name], placeholder: t('placeholder.search_members'), class: 'form-control'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search
            / /input-group
        %li
          %a{:href => "#"}
            %i.fa.fa-group.fa-fw
            = t('link.members')
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to t('members.index.title'), members_path
            %li= link_to t('members.new.title'), new_member_path
            %li= link_to t('families.index.title'), families_path
            %li= link_to t('families.new.title'), new_family_path
          / /.nav-second-level
        %li
          %a{:href => "#"}
            %i.fa.fa-home.fa-fw
            = t('link.churches')
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to t('churches.index.title'), churches_path
            %li= link_to t('churches.new.title'), new_church_path
          / /.nav-second-level
        %li
          = link_to attendances_path do
            %i.fa.fa-check-square-o.fa-fw
            = t('link.attendance')
        %li
          %a{:href => "#"}
            %i.fa.fa-building-o.fa-fw
            = t('link.ministries')
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to t('ministries.index.title'), ministries_path
            %li= link_to t('ministries.new.title'), new_ministry_path
          / /.nav-second-level
        %li
          %a{:href => "#"}
            %i.fa.fa-flag-o.fa-fw
            = t('link.responsibilities')
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to t('responsibilities.index.title'), responsibilities_path
            %li= link_to t('responsibilities.new.title'), new_responsibility_path
          / /.nav-second-level
        - if current_user.admin?
          %li
            = link_to admin_root_path do
              %i.fa.fa-database.fa-fw
              = t('link.admin')
            / /.nav-second-level
    / /.sidebar-collapse
  / /.navbar-static-side
