/ top navigation
.top_nav
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      %ul.nav.navbar-nav.navbar-right
        %li
          .visible-xs-block.margin-box
            %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
              = image_tag "avatar_2x.png"
              %span.fa.fa-angle-down
            = render 'layouts/dropdown_menu_topbar'
          .visible-sm-block.visible-md-block.visible-lg-block.margin-box
            %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
              = image_tag "avatar_2x.png"
              = current_user.name
              %span.fa.fa-angle-down
            = render 'layouts/dropdown_menu_topbar'
        %li#main-searchbar.main-searchbar
          = react_component('SearchContainer', {title_search: t('.title_search'), title_placeholder: t('.title_placeholder')}, { prerender: true })
/ /top navigation
