<!DOCTYPE html>
<html>
<head>
  <title><%= t('application')%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div class="container">
  <%= yield %>
</div>

<div id=”profile”>

<%= image_tag "google_mas_logo-300x300.jpg", :alt => "Google +", :title => "Google +"%>

<h1><%= "Claudio "%></h1> <dl>

<dt>Username:</dt>

<dd><%= "Claudio Alejandro Torres"%></dd>

<dt>Member Since:</dt>

<dd><%= "Activo"%></dd>

<dt>Website:</dt>

<dd><%= "www.claudioTorres.com" %></dd>

 </dl>

 </div>


<div id=”profile”>

<%= image_tag "google_mas_logo-300x300.jpg", :alt => "Google +", :title => "Google +"%>

<h1><%= "Claudio "%></h1> <dl>

<dt>Username:</dt>

<dd><%= "Claudio Alejandro Torres"%></dd>

<dt>Member Since:</dt>

<dd><%= "Activo"%></dd>

<dt>Website:</dt>

<dd><%= "www.claudioTorres.com" %></dd>

 </dl>

 </div>

<%= render 'layouts/footer' %>
</body>
</html>
