.row
  = simple_form_for @member, html: {class: 'form-horizontal'} do |f| 
    .row
      .col-md-6.col-sm-12.col-xs-12
        = render partial: 'form_info', locals: {f: f} 
      .col-md-6.col-sm-12.col-xs-12
        = render partial: 'form_contact', locals: {f: f}
      .col-md-6.col-sm-12.col-xs-12
        = render partial: 'form_membership', locals: {f: f}
      .col-md-6.col-sm-12.col-xs-12
        = render partial: 'form_charge', locals: {f: f}
    .row
      .col-md-12.col-sm-12.col-xs-12.text-center
        = f.submit class: "btn btn-primary btn-lg"