.box-body.no-padding
  .x_panel
    .x_title
      %h2
        %a.collapse-link.cursor
          .glyphicon.glyphicon-envelope
          Contacto
          - if f.error_notification
            %small
              .badge.bg-red Error
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.collapse-link
            %i.fa.fa-chevron-down
      .clearfix
    .x_content{:style => "display: none;"}
      = f.input :email, placeholder: Member.human_attribute_name(:email)
      = f.input :phone, placeholder: Member.human_attribute_name(:phone)
      = f.input :twitter, placeholder: Member.human_attribute_name(:twitter)
      = f.input :facebook, placeholder: Member.human_attribute_name(:facebook)
      = f.input :skype, placeholder: Member.human_attribute_name(:skype)


