<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :church %><br>
    <%= f.select(:church_id, churches_for_select, {:include_blank => '-select-'})%>
  </div>

  <div class="field">
  <%= f.label :responsibility%><br />
  <%= f.collection_check_boxes :responsibility_ids, Responsibility.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status_id, statuses_for_select, {:include_blank => '-select-'})%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
