.col-sm-3.col-xs-4{ class: "col-md-#{defined?(small_size) ? '3' : '2'}"}
  .col-sm-12{ data: { toggle: 'tooltip', placement: 'top', title: t('link.show')} }
    .text-center= link_to( avatar_for(member), member_path(member))
  .col-sm-12
    .text-center
      .emphasis
        = link_to( defined?(semi_full_name) ? member.semi_full_name : member.full_name, member_path(member))
        = "(#{member.role_name})" if defined?(role_name)
