<div class="panel panel-info">
  <div class="panel-heading" >
    <h1 class="panel-title">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <%= t('.title')%>
    </h1>
  </div>
  <div class="panel-body row" >
    <% @members.each do |member| %>
      <div id=”profile” class='col-md-6'>
        <div class="col-md-4">
          <%= gravatar_image_tag(member.email, filetype: :png, rating: 'pg', size: 15, secure: false, gravatar: { default: :identicon } ) %>
        </div>
        <div class="col-md-8">
          <h3><%= link_to member.name, member_path(member) %></h3>
          <dl>
            <dt>Direccion:</dt>
            <dd><%= member.adress %></dd>
            <dt>Email:</dt>
            <dd><%= member.email %></dd>
          </dl>
        </div>
      </div>
    <% end %>
    <%= will_paginate @members, :class => 'margin: 0px'%>
  </div>
</div>
 





