<div class="panel panel-info">
<div class="panel-heading" >
  <h1 class="panel-title">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    <%= t('.title')%>
  </h1>
</div>
<div class="panel-body row" >
  <% @members.each do |member| %>
    <div id=”profile” class='col-md-6'>
      <div class="col-md-4">
        <%= image_tag "google_mas_logo-300x300.jpg", :alt => "Google +", :title => "Google +", widht: '150px', height: '150px'%>
      </div>
      <div class="col-md-8">
        <h3><%= link_to member.name, member_path(member) %></h1>
        <dl>
          <dt>Direccion:</dt>
          <dd><%= member.adress %></dd>
          <dt>Email:</dt>
          <dd><%= member.email %></dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>




