<p>
  <strong><%=t('.name')%>:</strong>
  <%= @member.name %>
</p>

<p>
  <strong><%=t('.address')%>:</strong>
  <%= @member.adress %>
</p>

<p>
  <strong><%=t('.email')%>:</strong>
  <%= @member.email %>
</p>

<p>
  <strong><%=t('.phone')%>:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong><%=t('.status')%>:</strong>
  <%= @member.status.name %>
</p>

<p>
  <strong><%=t('.church')%>:</strong>
  <%= @member.church.name %>
</p>

<p>
<b><%=t('.responsibilities')%>:</b>
  <%= @member.responsibilities.map{|p| p.name}.to_sentence %>
</p>

<%= link_to t('link.edit'), edit_member_path(@member) %> |
<%= link_to t('link.back'), members_path %>
