.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          = t('.title')
          %small= t('.title_small')
        .clearfix
      .x_content
        .col-md-3.col-sm-3.col-xs-12.profile_left
          .profile_img
            #crop-avatar
              = link_to( image_for(@member, size: 220), member_path(@member))
          %h3= @member.full_name
          - if @member.email.present?
            %button.btn.btn-default.btn-block{"data-target" => "#modal_init", "data-toggle" => "modal", :type => "button"}
              %i.glyphicon.glyphicon-envelope
              = t('.button_mail')
          %ul.list-unstyled.user_data
            - if(@member.run.present?)
              %li
                %i.fa.fa-indent
                = "Run:#{@member.run}"
            - if(@member.birth_date.present?)
              %li
                %i.fa.fa-calendar-o
                = "#{@member.age} años"
            - if(@member.address.present?)
              %li
                %i.fa.fa-map-marker.user-profile-icon
                = "#{@member.address}, #{@member.city}, #{@member.country} " 
            - if(@member.phone.present?)
              %li
                %i.glyphicon.glyphicon-earphone
                = @member.phone
            - if(@member.baptism_date.present?)
              %li.m-top-xs
                %i.fa.fa-external-link.user-profile-icon
                = "Bautismo: #{@member.baptism_date.strftime("%d/%m/%Y")}"
            %ul.list-inline
              - if @member.facebook.present?
                %li
                  = link_to @member.facebook_url, :target => :blank, data: { toggle: 'tooltip', placement: 'right', title: "#{@member.facebook}"} do
                    %i.fa.fa-facebook-square.fa-3
              - if @member.twitter.present?
                %li
                  = link_to @member.twitter_url, :target => :blank, data: { toggle: 'tooltip', placement: 'right', title: "#{@member.twitter}"} do
                    %i.fa.fa-twitter
              - if @member.email.present?
                %li
                  = link_to '#', data: { toggle: 'tooltip', placement: 'right', title: "#{@member.email}"} do
                    %i.fa.fa-envelope-o
              - if @member.skype.present?
                %li
                  = link_to '#', data: { toggle: 'tooltip', placement: 'right', title: "#{@member.skype}"} do
                    %i.fa.fa-skype
          %button.btn.btn-default.btn-block{"data-target" => "#modal_new_tithe", "data-toggle" => "modal", :type => "button"}
            %i.glyphicon.glyphicon-plus-sign
            = t('.button_add_tithe')
          = link_to edit_member_path(@member) do
            .btn.btn-success
              %i.glyphicon.glyphicon-pencil
              = t('link.edit')
          = link_to @member, method: :delete, data: { confirm: t('confirm.message.destroy')} do
            .btn.btn-danger
              %i.glyphicon.glyphicon-trash
              = t('link.destroy')
          - if(@responsibilities.present?)
            %h4= t('.title_charges')
            - @responsibilities.each do |responsibility|
              %span.label.label-info
                = responsibility.name
          %br
          - if(@ministries.present?)
            %h4= t('.title_attendances')
            %ul.list-unstyled.user_data
              - @ministries.each do |ministry| 
                %li
                  %p= "#{ministry.name} (#{ministry.attendances_by_member(@member).present.size} de #{ministry.attendances_by_member(@member).size})"
                  .progress
                    .progress-bar{"aria-valuemax" => "#{ministry.attendances_by_member(@member).size}", "aria-valuemin" => "0", "aria-valuenow" => "#{ministry.attendances_by_member(@member).present.size}", :role => "progressbar", :style => "width: #{ministry.percent_attendances_by_member(@member)}%;"}
                      = "#{ministry.percent_attendances_by_member(@member)}%"
        .col-md-9.col-sm-9.col-xs-12
          %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
            #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
              #flash_messages
              - if(@members_family.present?)
                .row
                  .col-md-12.col-sm-12.col-xs-12
                    .box-body.no-padding
                      .x_panel
                        .x_title
                          %h2
                            = t('.title_table_family',title_family: @family.name)
                            %small
                              =t('common.member', count: @members_family.size)
                          .clearfix
                        .x_content
                          .row
                            .clearfix
                            = render partial: 'member', collection: @members_family, locals: {role_name: true, semi_full_name: true}
                        .x_content.text-center
                          -if @family.present?
                            %button.btn.btn-success{"data-target" => "#modal_new_family", "data-toggle" => "modal", :type => "button"}
                              %i.glyphicon.glyphicon-plus-sign
                              = t('.button_change_family')
            -unless @family.present?
              %button.btn.btn-success{"data-target" => "#modal_new_family", "data-toggle" => "modal", :type => "button"}
                %i.glyphicon.glyphicon-plus-sign
                = t('.button_add_family')
            - if @attendances.present?
              .row
                .col-md-12.col-sm-12.col-xs-12
                  .box-body.no-padding
                    .x_panel
                      .x_title
                        %h2
                          = t('.title_attendances')
                        .clearfix
                      .x_content
                        %table.data.table.table-striped.no-margin
                          %thead
                            %tr
                              %th= t('.data_column_attendance')
                              %th= t('.data_column_date')
                              %th= t('.data_column_present')
                            %tbody
                              - @attendances.each do |attendance|
                                %tr
                                  %td= attendance.ministry.name
                                  %td= attendance.attendance_date.strftime("%d/%m/%Y")
                                  %td= attendance.human_present
                                  / %td.vertical-align-mid
                                  /   .progress
                                  /     .progress-bar.progress-bar-success{"aria-valuenow" => "35", "data-transitiongoal" => "35", :style => "width: 35%;"}
                        .text-center= will_paginate @attendances, :class => 'margin: 0px'

#modal_init.modal{"aria-hidden" => "true"}
  = render 'form_modal_mail'
#modal_new_tithe.modal{"aria-hidden" => "true"}
  = render 'form_modal_tithe', member: @member, locals: { remote: true }
#modal_new_family.modal{"aria-hidden" => "true"}
  .row
    .modal-dialog
      .modal-content
        / header
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} &times;
          %h3.modal-title
            = @family.present? ? t('.title_family_change') : t('.title_family')
          #flash_messages_error
          / body (form)
        .modal-body
          = render 'form_add_to_family', family: @family, member: @member, locals: { remote: true }
