.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          Información del Miembro
          %small Datos y Estadísticas
        .clearfix
      .x_content
        .col-md-3.col-sm-3.col-xs-12.profile_left
          .profile_img
            / end of image cropping
            #crop-avatar
              / Current avatar
              = gravatar_image_tag(@member.email, filetype: :png, rating: 'pg', class:'img img-responsive avatar-view', secure: false, gravatar: { default: :mm } )
            / end of image cropping
          %h3= @member.full_name
          %ul.list-unstyled.user_data
            - if(@member.address.present?)
              %li
                %i.fa.fa-map-marker.user-profile-icon
                = "#{@member.address}, #{@member.city}, #{@member.country} " 
            - if(@member.birth_date.present?)
              %li
                %i.fa.fa-briefcase.user-profile-icon
                = "Fecha Nacimiento: #{@member.birth_date.strftime("%d/%m/%Y")}"
            - if(@member.birth_date.present?)
              %li.m-top-xs
                %i.fa.fa-external-link.user-profile-icon
                = "Fecha Bautismo: #{@member.baptism_date.strftime("%d/%m/%Y")}"
          = link_to edit_member_path(@member) do
            .btn.btn-success
              %i.fa.fa-edit.m-right-xs
              Editar Datos
          %br
            / start skills
            %h4 Ministerios
            %ul.list-unstyled.user_data
              - @ministries.each do |ministry| 
                %li
                  %p= ministry.name
                  .progress
                    .progress-bar{"aria-valuenow" => "69", "data-transitiongoal" => "75", :role => "progressbar"}
            / end of skills
        .col-md-9.col-sm-9.col-xs-12
          .profile_title
            .col-md-6
              %h2 Datos y estadísticas
          / start of user-activity-graph

          / end of user-activity-graph
          %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
            %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a#home-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Recent Activity
              %li{:role => "presentation"}
                %a#profile-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Projects Worked on
              %li{:role => "presentation"}
                %a#profile-tab2{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Profile
            #myTabContent.tab-content
              #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                / start recent activity
                
                / end recent activity
              #tab_content2.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                / start user projects
                %table.data.table.table-striped.no-margin
                  %thead
                    %tr
                      %th #
                      %th Project Name
                      %th Client Company
                      %th.hidden-phone Hours Spent
                      %th Contribution
                  %tbody
                    %tr
                      %td 1
                      %td New Company Takeover Review
                      %td Deveint Inc
                      %td.hidden-phone 18
                      %td.vertical-align-mid
                        .progress
                          .progress-bar.progress-bar-success{"aria-valuenow" => "35", "data-transitiongoal" => "35", :style => "width: 35%;"}
                    %tr
                      %td 2
                      %td New Partner Contracts Consultanci
                      %td Deveint Inc
                      %td.hidden-phone 13
                      %td.vertical-align-mid
                        .progress
                          .progress-bar.progress-bar-danger{"aria-valuenow" => "15", "data-transitiongoal" => "15", :style => "width: 15%;"}
                    %tr
                      %td 3
                      %td Partners and Inverstors report
                      %td Deveint Inc
                      %td.hidden-phone 30
                      %td.vertical-align-mid
                        .progress
                          .progress-bar.progress-bar-success{"aria-valuenow" => "45", "data-transitiongoal" => "45", :style => "width: 45%;"}
                    %tr
                      %td 4
                      %td New Company Takeover Review
                      %td Deveint Inc
                      %td.hidden-phone 28
                      %td.vertical-align-mid
                        .progress
                          .progress-bar.progress-bar-success{"aria-valuenow" => "75", "data-transitiongoal" => "75", :style => "width: 75%;"}
                / end user projects
